/* aca defino lo q es por defecto 
   https://www.youtube.com/watch?v=jtzb2FNyzZY
   tutorial html, css y jquery | menu dinámico con efecto scroll 
*/
*{
	font-family: sans-serif, Arial;
	margin: 0;
	padding: 0;
    box-sizing: border-box;
}

header{
	position: fixed;
	width : 100%;
	heigth : 550px;
	background-color: red; 
	-webkit-transition: background-color .5s;	
}

.main{
    width: 95%;
    max-width: 1000px;
    margin: 80px auto;
}

.slides{
    width: 100%;
}

.slides img{
    width: 100%;
}

.slides .active{
    background: #434343;
}

.slidesjs-navigation{
    //background: #434343;
    display: inline-block;
    padding: 15px 20px;
    float: right;
}

.slidesjs-pagination{
    //background: #434343;
    display: inline-block;
    padding: 0px 0px;
    float: left;
}


.slidesjs-pagination li a:hover{
    background: #434343;
}

.slidesjs-pagination li a{
    //background: #434343;
    display: block;
    padding: 0.1px 0px;
    float: left;
}

nav{
	display: table; //para que se ajuste a la etiqueta	
	margin: auto;
	margin-top: 1px;
	height: 40px;
	background-color: green;
	-webkit-transition: margin-left -5s;
}

ul{
	display: block;
	float: left;
	list-style: none;
}
ul li {
	float: left;
	margin: 10px;
	padding: 4px;	
}

#menu ul li a:hover{
	background-color: #434343; //para que se vea en otro color cdo pasa el mouse	
}

.logo, .logo:hover{
	background-color: #434343; //para que se vea en otro color cdo pasa el mouse	
}
	
img#logo{
	float: left;
	display: block;
	margin-left: 30px;
	margin-right: 30px;
	margin-top: 10px;
	-webkit-transition: width .5s, height .5s, margin-right .5s, margin-top .5s;    
}
h1{
    color : crimson; 
    font-family: sans-serif, Arial;
    font-size: 1.5em; 
    line-height: 1.8 em;
    text-align: center;
	margin-bottom: 50px;
	margin-top: 50px;
    }

h2{
    color : crimson; 
    font-family: sans-serif, Arial;
    font-size: 1.5em; 
    line-height: 2 em;
    }
    
h3{
    color : crimson; 
    font-family: sans-serif, Arial;
    font-size: 1em; 
    line-height: 2 em;
	margin-bottom: 50px;
	margin-top: 50px;	
    }    
    
div a{	
	text-decoration: none; //para que no subraye el link
}

p{
    color: crimson; 
    font-family: Arial, sans-serif, helvetica;
    text-align: center;
    }

a{
    color: #D14174; crimson; 
}

a:visited {
    color: firebrick;
} 

#contenedor { 
    background-color: #fffffa; 
    background-image: url("imagenes/rosafondo.jpg");   
}

#cabecera { 
    height: 40px;
    width: 100%;
    background-size: cover; //responsive 
    text-align: center;   
}

#menu { 
    background-color: #FFFEEE;
    font-family: Arial, sans-serif, helvetica;
    font-size: 25px;
    float: left;
    height: 75px;
    width: 100%;
	padding-left: 100px;	/* silvina agregue esta línea*/
    position:fixed;
    /*z-index: 25;  top: 1em; left: 8em; */
}

#Inicio{
    float: left;
    padding: 10px;
    /*margin-left: 70px; 	*/
    display: inline; text-align: center;//responsive    
}

#Recetas{
    float: left;
    padding: 10px;
    /*margin-left: 70px;*/
		display: inline; text-align: center;//responsive    
}

#botonReceta {
    border-radius: 50px;
	width: 500px;
    padding: 20px;
    margin: 0 auto;
    max-width:500px;  
	margin-top: 100px;
}

#Tiendas{
    float: left;
    padding: 10px;
    /*margin-left: 70px;*/
	display: inline; text-align: center;//responsive    
}

#Vacunas{
    float: left;
    padding: 10px;
    /*margin-left: 70px;*/
		display: inline; text-align: center;//responsive    
}

#Contacto{
    float: left;
    padding: 10px;
    /*margin-left: 70px;*/
		display: inline; //responsive
}

#pie { 
    clear: both;
	float: left;			/* silvina agregue esta linea */
    height: 50px;
    width: 95%;
    background-color: black;
    color: aliceblue;
    text-align: right;
    line-height: 50px; 
}

ul {
    padding: 10px;
    background: rgba(255, 255, 255, 1);
	float: left;        	
    }
li {
      display: inline;
      padding: 10px 10px 0px 10px;
    }    
 
article{
      width: 500px;
      padding: 20px;
      margin: 0 auto;
      max-width:500px;      
    }

/* es para que sea responsive */    
@media (max-width: 500px){
	h1 {
        font-size:36px;
  }
}        
.fuente {
    color : crimson; 
}

.containingbox {
	float: left;	/* silvina agregue esta linea porque los el texto se ubicaban al lado de los otros */
    margin-left: 200px;
    height: 1000px;
    width: 920px;           /* deberia ser 916*/
}

.containingbox-2 {
	float: left;	
    margin-left: 120px;
    height: 800px;
    width: 2000px;          
}

.floatleft {
    float: left;
    height: 100px;
    width: 100px;   /* Con Float aplicado, el ancho es obligatorio, caso contrario es impredecible. 
						Que sucede si se amplia el ancho para el ejemplo de FloatLeftConsecutivos.html?   */
}

.floatright {
    float: right;
    height: 100px;
    width: 100px; 
}


.botonreceta {
    float: left;
    height: 1000px;
    width: 400px;  
    margin-left: 20px;
    text-align: center;
}


.botontienda {
    float: left;
    height: 420px;
    width: 456px;   
}

.rounded{
    display:inline-block;
    position:relative;
    overflow:hidden;
}

.rounded > img{
    vertical-align:top;
    -webkit-border-radius:100em;
}

.rounded, .rounded:before{
    -moz-border-radius:100em;
    border-radius:100em;
}

.rounded:before{
    content:'';
    display:block;
    position:absolute;
    left:0;
    right:0;
    width:100%;
    height:100%;
    margin:-10em;
    border:10em solid white; /* color de fondo en los bordes */
}

/* estilos para que sea resposive */
   @media (max-width: 500px){
     h1 {
        font-size:30px;
      }
      li {
        display: block;
        padding: 5px;
      }         
      a href{
       	display: block;
        padding: 1px;
      } 
    }

/* estilos para el formulario*/
. f-consulta {
    align-content: center;
    color: crimson;
    margin-top: 60px;
	padding: 40px;
    background-color: white;
    -webkit-box-shadow: 0px 5px 10px #B5C1C5, 0 0 0 10px #EEEF5F7 inset;
	-moz-box-shadow: 0px 5px 10px #B5C1C5, 0 0 0 10px #EEEF5F7 inset;
	-o-box-shadow: 0px 5px 10px #B5C1C5, 0 0 0 10px #EEEF5F7 inset;
	box-shadow: 0px 5px 10px #B5C1C5, 0 0 0 10px #EEEF5F7 inset;
}


.col {
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
    color : crimson; 
    font-family: monospace, sans-serif, Arial;
    font-size: 1.5em; 
    line-height: 1 em;    
}

.col-2 {
  margin-right: 15px;
  margin-left: 15px;
  position: relative;
  min-height: 1px;
}

.f-letras {
    color : crimson; 
    font-family: monospace, sans-serif, Arial;
    font-size: 1.5em; 
    line-height: 1 em;    
	border: 0;
	margin-top:30px;
	margin-bottom:10px;
	padding: 10px;
	width:400px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-o-border-radius: 3px;
	border-radius: 3px;
} 


/*para selectores label y div*/
.f-consulta label{
    display:block;
    font-weight: :bold;
}
.f-consulta div{
    margin-bottom: 15px;
}
/*para cajas de texto*/
.form-g input,
form-g textarea {
    padding: 7 px 10px;
    width: 294px
    border: 1px solid #CED5D7;
    resize: none; /*para que no sea redimensionable*/
    overflow: auto;
    -webkit-box-shadow: : 0 0 10px #EEF5F7;
	-moz-box-shadow: : 0 0 10px #EEF5F7;
	-o-box-shadow: : 0 0 10px #EEF5F7;	
	box-shadow: : 0 0 10px #EEF5F7;
    margin: 5px 0;
}

.form-g input:focus,
form-g textarea: focus {
	background: #fff;
    outline: none; /* reset especifico para chrome /safari*/    
	-webkit-box-shadow: : 0 0 10px #EEF5F7;
	-moz-box-shadow: : 0 0 10px #EEF5F7;
	-o-box-shadow: : 0 0 10px #EEF5F7;		
	box-shadow: : 0 0 10px #EEF5F7;		
    margin: 5px 0;
}
input[type="submit"], [type="reset"]{
	background: #D14174; 
	border: 0;
	padding: 10px;
	width: 150px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-o-border-radius: 3px;
	border-radius: 3px;	
}
input[type="submit"], [type="reset"]:hover{
		background-color: crimson; 
}